html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: black;
}

#pingStats {
    position: absolute;
    top: 60px;
    left: 4px;
    width: 400px;
    height: 400px;
    pointer-events: none;
    color: white;
    font-family: monospace;
}

@media (min-width: 1224px) {
    #joystickWrapper1 {
        display: none;
    }
}
